<h1>Team Name:</label> <%= params[:name] %> </h1>

<h2>Coach:</label> <%= params[:coach] %> </h2>

<h2>Point Guard:</label> <%= params[:pg] %> </h2>

<h2>Shooting Guard:</label> <%= params[:sg] %> </h2>

<h2>Small Forward:</label> <%= params[:sf] %> </h2>

<h2>Power Forward:</label> <%= params[:pf] %> </h2>

<h2>Center:</label> <%= params[:c] %> </h2>