<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
 <h1>Basketball team!</h1>
  <p>
        Team Name: <%=@name%>
  </p>
   <p>
        Coach: <%=@coach%> 
   </p>
   <p>
        Point Guard: <%=@point_guard%> 
   </p>
<p>
        Shooting Guard: <%=@shoothing_guard%> 
</p>
   <p>
        Small Forward: <%=@small_fordwar%> 
   </p>
   <p>
        Power Forward: <%=@power_forward%> 
   </p>
   <p>
        Center: <%=@center%>
   </p>

 </body>
</html>


